*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: darkblue;
    --height-general: auto;
}

nav {
    background-color: var(--background-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    width: 150px;
    height: var(--height-general);
    border: 1px solid black;
    padding: 1px;
    box-shadow: 0 0 30px gray;
    margin-left: 2rem;
    float: right;
}

p {
    padding: 0;
}

main {
    max-width: 900px;
}

aside {
    width: 15rem;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: var(--height-general);
    
}

aside h2{
    position: absolute;
    top: 2rem;
    left: 0%;
    font-size: 1.4rem;
}

footer {
    margin-top: 45px;
    border-top: 10px solid blue;
    text-align: center;
}

/*Class Selectors*/
.box{
    margin: 2rem;
    padding: 1rem;
    border: 1px solid black;
    background-color: beige;
    color: black;
}